<!DOCTYPE html>
<html lang="en">
<head>
  <title>Python Training</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'ThirdApp:home' %}">HOME</a></li>
      <li><a href="{% url 'ThirdApp:index' %}">Index</a></li>
         {% if user.is_authenticated %}

            <li><a href="{% url 'ThirdApp:special' %}">SPECIAL</a> </li>
        {% endif %}


    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
              <ul class="dropdown-menu">
                 <li><a href="{% url 'ThirdApp:edit' %}">EDIT INFORMATION</a></li>
                 <li><a href="{% url 'ThirdApp:delete' %}">DELETE ACCOUNT</a></li>
              </ul>
            </li>
            <li><a href="{% url 'ThirdApp:logout' %}"><span class="glyphicon glyphicon-log-out"></span>LOGOUT</a></li>
{#            <li><a href="{% url 'ThirdApp:special' %}">Special</a> </li>#}
        {% else %}
            <li><a href="{% url 'ThirdApp:register' %}"><span class="glyphicon glyphicon-user"></span>REGISER</a></li>
            <li><a href="{% url 'ThirdApp:login' %}"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
        {% endif %}
      </ul>
  </div>
</nav>


{% block body_block %}

{% endblock %}
</body>
</html>